.shopping-cart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn,
.clear-cart-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-btn:hover,
.clear-cart-btn:hover {
    background-color: #0056b3;
}